{% load bootstrap3 %}
{% load static %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Donald Kiplagat</title>

    {% block styles %}
    {% bootstrap_css %}
    <script src="https://rawgit.com/alvarotrigo/fullPage.js/dev/src/fullpage.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/alvarotrigo/fullPage.js/dev/src/fullpage.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|El+Messiri|Julius+Sans+One|Karma|Poiret+One|Sorts+Mill+Goudy|Source+Code+Pro" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

  </head>

  <body>

    {% block content %}


    <div id="fullpage">

    <div id="home" class="section">
        <div class="text-center">
          <img class="profile-pic" src="{{profile.avatar.url}}">

          <h1 class="ml6">
            <span class="text-wrapper">
              <span class="letters">Hi! My name is </span>
            </span>
          </h1>

          <h1 class="ml2">{{profile.firstname}} {{profile.secondname}}<span>,</span></h1><br>

          <h2 class="ml2">I'm a </h2><br>

        <h2 class="ml1">
          <span class="text-wrapper">
            <span class="line line1"></span>
            <span class="letters">{{profile.description | safe}}</span>
            <span class="line line2"></span>
          </span>
        </h1>
      </div>



    </div>

    <div id="skills" class="section">
      <div class="text-center skills-page">
        <h1 class="ml16">My Skills</h1>
        <h1 class="ml16">Technical Skills</h1>

          <div class="row">
            {% for skill in skills %}
            <div class="col-xs-4 col-sm-4 col-md-3 col-md-3">
              <div class="text-center">
                <div class="skills-logo">
                  <img class="skill-image img-responsive" src="{{skill.skillslogo.url}}">
                </div>
                <h3 class="skills-p">{{skill.skills}}</h3>
              </div>
            </div>
            {% endfor %}
          </div>




      <h1 id="skills-h2" class="ml16">Hobbies & Interests</h1>
        <!-- <div class="row"> -->
          <!-- <div class="col-md-6"> -->
            <h3 class="skills-p"><span class="bold">Acting</span> - member of Film & Arts Company called 'Khweva'</h3>
            <h3 class="skills-p"><span class="bold">Mentoring(Mental Health & Presentation Skills)</span> - part of 'Fmile Official' movement for mentoring those affected with mental health</h3>

            <h3 class="skills-p"><span class="bold">Reading</span> - a lover of mediaval and fantasy novels. J.K. Rowling's 'Harry Potter' series is one of my favourite selections.</h3>

          <!-- </div> -->

          <!-- <div class="col-md-6"> -->
            <h3 class="skills-p"><span class="bold">Entrepreneurship and Innovation</span> - part of 'Leap Hub' movement based on developing innovators from a young age </h3>
            <h3 class="skills-p"><span class="bold">Music</span> - singer at 'Khweva',was also part of the school choir in highschool</h3>

            <h3 class="skills-p"><span class="bold">Games(Chess)</span> - played chess at Strathmore University,started playing at an early age</h3>

          <!-- </div> -->
        <!-- </div> -->

      </div>

    </div>


    <div id="projects" class="section">
      <div class="text-center">
        <div class="slide" data-anchor="slide1">
          <h1>My Projects</h1>
        </div>
        <div class="slide" data-anchor="slide2">
           <img class="project-pics bottom" src="{% static 'img/ighome.png' %}" alt="Snow" style="width:100%;">
            <div class="centered">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Instagram Clone</h3>
                </div>
                <div class="panel-body">
                  <h4>My attempt at cloning the famous social media site: Instagram</h4>
                </div>
                <div class="panel-footer">
                  <a href="#" class="btn btn-primary">View Code</a>
                  <a href="#" class="btn btn-danger">Visit Site</a>

                </div>
              </div>
            </div>
        </div>
      </div>
    </div>


    <div id="contact" class="section">
    </div>

  </div>



    {% endblock %}


    {% block scripts %}
    <script  src="https://code.jquery.com/jquery-3.3.1.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}" ></script>
    {% endblock %}

  </body>
</html>
